.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 20%;
}

.Comics-template{
  height: 15vmin;
  pointer-events: none;
}

.grid-container{
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #660b0f;
  padding: 40px;
}

.grid-item{
  background-color: #b13d3d;
  border: 1px solid #660b0f;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 25%;
  height: 90%;
}

.card{
  background-color: #660b0f;
  box-shadow: 0 4px 8px 0 #b95a5f;
  transition: 0.3s;
  width: 100%;
}

/*.card:hover{
  box-hover: 0 8px 16px 0 #bda4a5;
} */

.card-info{
  background-color: #FFFFFF;
  padding: 64px 32px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .Comics-template {
    animation: Comics-template-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #333333;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes Comics-template-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
