.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 20%;
}

.Comics-template{
  height: 15vmin;
  pointer-events: none;
}

.card{
  background-color: #660b0f;
  box-shadow: 0 4px 8px 0 #b95a5f;
  transition: 0.3s;
  width: 100%;
}

/*.card:hover{
  box-hover: 0 8px 16px 0 #bda4a5;
} */

.card_li{
	grid-column-start: 1;
 	grid-column-end: 4;
 	grid-row-start: 1;
 	grid-row-end: 3;
	background-color: navy;
	color: white;
	width: 170px;
	height: 300px;
	text-align: left;

	  
}


.card_li_mobile{
	grid-column-start: 1;
 	grid-column-end: 4;
 	grid-row-start: 1;
 	grid-row-end: 3;
	background-color: navy;
	color: white;
	width: 165px;
	height: 300px;
	text-align: left;
	  
}

.catalog{
  background-color: black;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;


}

.catalog-mobile{
  background-color: black;
  display: grid;
  grid-template-columns: auto auto;


}


.imageComics{
	width: 125px;
}
/* ul
  li
*/


.title{
	font-size: larger;
	list-style-type: none; 
}
.description, .digitalId{
	display: none;
	list-style-type: none; 
}

.thumbnail{
	list-style-type: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  .Comics-template {
    animation: Comics-template-spin infinite 20s linear;
  }
}

.App-header {

  background-color: darkorange;
  min-height: 12vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



